* {
  box-sizing: border-box;
  background-color: #212121;
}

.wrapper {
  align-items: center;
}

.TaskForm{
  width: 100%;
}

.task-title{
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.task-input {
  outline: none;
  background: none;
  border: 1px solid #a51b31;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.task-btn {
  background: #a51b31;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;  
}